In [8]:
!which python

/opt/anaconda3/envs/ml_/bin/python

### NUMPY!!

In [36]:
import numpy as np

In [12]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [13]:
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [14]:
li = [1,2,3,4,5,6]
np.array(li)

array([1, 2, 3, 4, 5, 6])

In [16]:
np.arange(2, 10, 2)

array([2, 4, 6, 8])

In [24]:
np.linspace(0, 20, 11) #3rd argument, 50 is default

array([ 0.,  2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20.])

### Multi-dim

In [25]:
np.zeros((5,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [29]:
# Generates a uniform Random distribution

np.random.seed(2) # Use seed to maintain reproducibility...

np.random.rand(5,2)

array([[0.4359949 , 0.02592623],
       [0.54966248, 0.43532239],
       [0.4203678 , 0.33033482],
       [0.20464863, 0.61927097],
       [0.29965467, 0.26682728]])

In [30]:
np.random.randint(low= 0, high= 20, size=(5,3))

array([[ 5,  7,  3],
       [ 6,  4, 10],
       [11, 19,  7],
       [ 6, 10,  1],
       [ 3,  5,  4]])

In [ ]:
# Can perform element wise arithmetic operations rather than python lists and loops to perform arithemtic

In [ ]:
# np.min(), np.sum(), np.std(), etc

## PANDAS!!

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.2'

In [4]:
df = pd.read_csv('../data/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
df.shape

(9704, 11)

In [9]:
df.size

106744

In [16]:
len(df['fuel_type'].unique())
# df.groupby('fuel_type').value_counts()

2

In [28]:
# df.isnull()

In [25]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [31]:
df.origin.unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [34]:
# df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [37]:
np.round(df[df.origin == 'Asia'].fuel_efficiency_mpg.max(), 2)

np.float64(23.76)

In [39]:
df.horsepower.median().item()

149.0

In [47]:
freq = df.horsepower.mode().item()

In [48]:
df.horsepower.fillna(freq)

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [49]:
df.horsepower.median()

np.float64(149.0)

In [53]:
asian_cars = df[df.origin == 'Asia']

In [54]:
cols = ['model_year', 'vehicle_weight']

In [56]:
asian_cars_7 = asian_cars[cols].head(7)

In [61]:
asian_cars_7

    model_year  vehicle_weight
8         2016     2714.219310
12        2010     2783.868974
14        2007     3582.687368
20        2011     2231.808142
21        2016     2659.431451
34        2014     2844.227534
38        2019     3761.994038

In [58]:
X = asian_cars_7.to_numpy()

In [60]:
X

array([[2016.        , 2714.21930965],
       [2010.        , 2783.86897424],
       [2007.        , 3582.68736772],
       [2011.        , 2231.8081416 ],
       [2016.        , 2659.43145076],
       [2014.        , 2844.22753389],
       [2019.        , 3761.99403819]])

In [64]:
XTX = X.T.dot(X)

In [67]:
inv_XTX = np.linalg.inv(XTX)

In [66]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [68]:
prd = inv_XTX.dot(X.T)

In [72]:
np.round(prd.dot(y).sum(), 2).item()

0.52